body
{
background-color: #323392;
width: 1366px;
height: 768px;
}
@font-face
{
  font-family: 'F77 Minecraft';
  src: url('../fonts/F77 Minecraft.ttf');
}
@font-face
{
  font-family: 'tahoma';
  src: url('../fonts/tahoma.ttf');
}
@font-face
{
  font-family: 'tahomabd';
  src: url('../fonts/tahomabd.ttf');
}
.desktop
{
  position: absolute;
  width: 1366px;
  height: 768px;
  margin-top: auto;
  margin-left: auto;
}
.menu
{
  position: relative;
  width: 1366px;
  height: 95px;
  top: 671px;
  background-color: #0006FF;
  border-style: solid;
  border-width: 3px;
  border-color: #FFFFFF;
}
.logomenu
{
  position: relative;
  top: 10px;
  left: 10px;
}
.clock
{
  position: relative;
  color:#FFFFFF;
  font-family: tahoma;
  font-size: 34px;
  width: 87px;
  height: 41px;
  top: -55px;
  margin-left: 1257px;
}
.ru
{
  position: relative;
  color:#FFFFFF;
  font-family: tahoma;
  font-size: 34px;
  width: 39px;
  height: 41px;
  top: -94px;
  margin-left: 1194px;
}
.text1
{
  position: relative;
  color:#FFFFFF;
  font-family: F77 Minecraft;
  font-size: 27px;
  width: 705px;
  height: 210px;
  top: 352px;
  margin-left: 137px;
}
.app1
{
  position: relative;
  flex-wrap: wrap;
  padding: 10px;
  width: 360px;
  height: 330px;
  top: -283px;
  margin-left: 84px;
}
.app
{
  flex: 2 2 auto;
  margin: 28px;
  width: 113px;
  height: 130px;
}
.k
{
position: relative;
top: -456px;
margin-left: 131px;
font-size: 27px;
font-family: tahoma;
color:#FFFFFF;
}
.b
{
position: relative;
top: -483px;
margin-left: 301px;
font-size: 27px;
font-family: tahoma;
color:#FFFFFF;
}
.c
{
position: relative;
top: -333px;
margin-left: 145px;
font-size: 27px;
font-family: tahoma;
color:#FFFFFF;
}
.p
{
position: relative;
top: -359px;
margin-left: 319px;
font-size: 27px;
font-family: tahoma;
color:#FFFFFF;
}
.app2
{
  position: relative;
  width: 227px;
  height: 354px;
  top: -558px;
  margin-left: 990px;
}
.nameapp2
{
  position: relative;
  top: -657px;
  margin-left: 981px;
}
.appp1
{
  position: relative;
  top: 133px;
  left: -17px;
}
.appp2
{
  position: relative;
  top: 0px;
  left: 51px;
}
.appp3
{
  position: relative;
  top: 95px;
  left: 116px;

}
.t1
{
  position: relative;
  top: -9px;
  margin-left: 1px;
  font-size: 27px;
  font-family: tahoma;
  color:#FFFFFF;
}
.t2
{
  position: relative;
  top: 36px;
  margin-left: 124px;
  font-size: 27px;
  font-family: tahoma;
  color:#FFFFFF;
}
.t3
{
  position: relative;
  top: -194px;
  margin-left: 155px;
  font-size: 27px;
  font-family: tahoma;
  color:#FFFFFF;
}
